:root {
    /* stylelint-disable-next-line string-quotes */
    --font-family-main: consolas, "Times New Roman", serif;
    --font-family-text-redesigned: "Nunito Sans", sans-serif;
    --font-family-header-redesigned: "Roboto", sans-serif;
    --font-size-s: 12px;
    --font-line-s: 16px;
    --font-s: var(--font-size-s) / var(--font-line-s) var(--font-famaly-main);
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-famaly-main);
    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-famaly-main);
    --font-size-xl: 30px;
    --font-line-xl: 40px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-famaly-main);
    --font-size-xxl: 40px;
    --font-line-xxl: 52px;
    /* stylelint-disable-next-line declaration-colon-newline-after */
    --font-xxl: var(--font-size-xxl) / var(--font-line-xxl)
        var(--font-famaly-main);

    /* Размеры */

    --navbar-height: 80px;
    --sidebar-width: 200px;
    --sidebar-width-collapsed: 80px;

    // z - Индексы
    --modal-z-index: 1000;
    --overlay-z-index: 100;
    --overlay-color: rgb(0 0 0 / 60%);
    --error-color: rgb(253 81 81);

    // redesigned

    // s
    --font-s-redesigned: var(--font-size-s) / var(--font-line-s) var(--font-family-text-redesigned);

    // m
    --font-m-redesigned: var(--font-size-m) / var(--font-line-m) var(--font-family-text-redesigned);

    // l
    --font-l-redesigned: var(--font-size-l) / var(--font-line-l) var(--font-family-header-redesigned);

    // xl
    --font-xl-redesigned: var(--font-size-xl) / var(--font-line-xl) var(--font-family-header-redesigned);
}
