@import "global";
@import "./themes/dark";
@import "./themes/light";
@import "./themes/orange";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font: var(--font-m);
    color: var(--primary-color);
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.app {
    min-height: 100vh;
    background-color: var(--bg-color-behind);
}

.app_redesigned {
    min-height: 100vh;
    font: var(--font-m-redesigned);
    color: var(--text-redesigned);
    background: var(--bg-redesigned);
}

.content-page {
    display: flex;
    height: 100vh;
}

*::-webkit-scrollbar {
    width: 12px; /* ширина scrollbar */
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--card-bg); /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
    border: 2px solid var(--primary-color); /* padding вокруг плашки */
    border-radius: 20px; /* закругления плашки */
    background-color: var(--inverted-primary-color); /* цвет плашки */
}
