.Sidebar {
    position: relative;
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    background: var(--inverted-bg-color);
    transition: width 0.3s;

    .switchers {
        position: absolute;
        bottom: 20px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .lang {
        margin-left: 20px;
    }

    .collapseBtn {
        position: absolute;
        right: -32px;
        bottom: 32px;
        z-index: 10;
    }

    .items {
        margin-top: 20px;
        margin-left: 30px;
    }
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
        align-items: center;
    }

    .lang {
        margin-left: 0;
    }
}

.SidebarRedesigned {
    position: relative;
    border-radius: 32px;
    width: 220px;
    height: 100%;
    background: var(--light-bg-redesigned);

    .appLogo {
        padding-top: 20px;
    }

    .items {
        margin-top: 40px;
    }

    .collapseBtn {
        position: absolute;
        right: 0;
        top: 50%;
        z-index: 10;
        transform: rotate(90deg);
    }

    .switchers {
        position: absolute;
        bottom: 40px;
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 16px;
    }
}

.collapsedRedesigned {
    width: 50px;

    .switchers {
        flex-direction: column;
        align-items: center;
    }

    .items {
        display: flex;
        align-items: center;
    }

    .lang {
        margin-left: 0;
    }

    .collapseBtn {
        transform: rotate(-90deg);
    }

    .switchers {
        flex-direction: column;
        align-items: center;
    }
}
