.item {
    display: flex;
    align-items: center;
}

.link {
    margin-left: 10px;
    opacity: 1;
}

.icon {
    fill: var(--inverted-primary-color);
}

.collapsed {
    .link {
        width: 0;
        opacity: 0;
        transition: 0.2s opacity;
    }
}

.itemRedesigned {
    display: flex;
    align-items: center;
    padding: 0 16px;
    width: 100%;
}

.collapsedRedesigned {
    padding: 0 8px;

    .link {
        margin: 0;
        width: 0;
        opacity: 0;
    }
}

.active {
    position: relative;
    background: linear-gradient(89.97deg, rgb(29 89 255 / 30%) 1.15%, rgb(94 211 243 / 0%) 99.97%);

    &::before {
        content: "";
        position: absolute;
        left: 0;
        width: 2px;
        height: 100%;
        background: var(--accent-redesigned);
    }
}
