.BIG {
    .views {
        margin-left: auto;
    }

    .header {
        display: flex;
        align-items: center;
    }

    .username {
        margin-left: 8px;
    }

    .date {
        margin-left: auto;
    }

    .title {
        margin-top: 8px;
    }

    .img {
        margin: 16px 0;
        width: 100%;
        max-height: 250px;
        object-fit: cover;
    }

    .footer {
        display: flex;
        align-items: center;
        margin-top: 16px;
    }

    .textBlock {
        overflow-y: hidden;
        max-height: 200px;
    }
}

.SMALL {
    width: 230px;
    transition: 0.2s;
    cursor: pointer;

    .date {
        position: absolute;
        right: 0;
        top: 0;
        display: none;
    }

    .imageWrapper {
        position: relative;
        width: 200px;
        height: 200px;
    }

    .img {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

    .infoWrapper {
        display: flex;
        align-items: center;
        margin-top: 8px;
    }

    .types p {
        overflow: hidden;
        width: 115px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .views {
        margin-right: 8px;
        margin-left: auto;
    }

    .title {
        margin-top: 8px;
    }

    .title p {
        overflow: hidden;
        width: 200px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &:hover {
        opacity: 0.8;
        transform: scale(1.01);

        .date {
            display: block;
        }
    }
}
