.Loader {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - var(--navbar-heigth));
}

.lds-ripple {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid var(--bg-color-inverted);
    border-radius: 50%;
    opacity: 1;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        left: 36px;
        top: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    4.9% {
        left: 36px;
        top: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    5% {
        left: 36px;
        top: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        left: 0;
        top: 0;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}
