.popup {
    position: relative;
}

.trigger {
    margin: 0;
    outline: none;
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
}

.active {
    background: var(--inverted-primary-color);
}

.optionsBottomLeft {
    right: 0;
    top: 100%;
}

.optionsBottomRight {
    left: 0;
    top: 100%;
}

.optionsTopRight {
    left: 0;
    bottom: 100%;
}

.optionsTopLeft {
    right: 0;
    bottom: 100%;
}

.disabled {
    opacity: 0.7;
}
