.inputWrapper {
    display: flex;
}

.Input {
    outline: none;
    border: none;
    width: 100%;
    text-shadow: 0 0 0 var(--primary-color);
    color: transparent;
    background: transparent;
}

.placeholder {
    margin-right: 5px;

    &:focus {
        outline: none;
    }
}

.caretWraper {
    position: relative;
    flex-grow: 1;
}

.caret {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 9px;
    height: 3px;
    background: var(--primary-color);
    animation: blink 0.7s forwards infinite;
}

.readonly {
    opacity: 0.7;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.01;
    }

    100% {
        opacity: 1;
    }
}
