.Skeleton {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50px;
    box-shadow: 0 2px 10px 0 var(--skeleton-shadow);

    &::before {
        /* stylelint-disable-next-line string-quotes */
        content: '';
        position: absolute;
        left: -150px;
        top: 0;
        display: block;
        width: 80%;
        height: 100%;
        /* stylelint-disable-next-line declaration-colon-newline-after */
        background: liner-gradient(
            to right,
            transparent 0%,
            var(--skeleton-color) 50%,
            transparent 100%
        );
        animation: load 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    }
}

@keyframes load {
    from {
        left: -150px;
    }

    to {
        left: 100%;
    }
}
