.Wrapper {
    display: flex;
}

.label {
    margin-right: 5px;
}

.select {
    outline: none;
    border: 1px solid var(--primary-color);
    padding: 2px 10px 2px 2px;
    color: var(--primary-color);
    background: none;
}

.option {
    color: var(--primary-color-inverted);
    background: var(--bg-color-inverted);
}
