.app_dark_theme {
    --bg-color: #4e5d74;
    --bg-color-behind: ##768787;
    --bg-color-inverted: #e1e1e4;
    --primary-color: #89a6c4;
    --secondary-color: #d9b4a1;
    --primary-color-inverted: #89a6c4;
    --secondary-color-inverted: #f6e95c;
    --inverted-primary-color: #0232c2;
    --inverted-secondary-color: #0452ff;

    // redesigned
    --dark-bg-redesigned: #090f11;
    --bg-redesigned: #0c1214;
    --light-bg-redesigned: #151c1f;
    --text-redesigned: #dbdbdb;
    --hint-redesigned: #555;
    --cancel-redesigned: #d95757;
    --save-redesigned: #6cd98b;
    --icon-redesigned: #74a2b2;
    --accent-redesigned: #5ed3f3;

    // skeleton
    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;

    // code
    --code-bg: #1515ad;

    // card
    --card-bg: #0d0d6d;
}
