.app_light_theme {
    --bg-color: #e1e1e4;
    --bg-color-behind: #c3c3c8;
    --bg-color-inverted: #4e5d74;
    --primary-color: #89a6c4;
    --secondary-color: #1e1d12;
    --primary-color-inverted: #89a6c4;
    --secondary-color-inverted: #d9b4a1;

    // redesigned
    --dark-bg-redesigned: #fff;
    --bg-redesigned: #eff5f6;
    --light-bg-redesigned: #e2eef1;
    --text-redesigned: #141c1f;
    --hint-redesigned: #adbcc0;
    --cancel-redesigned: #f77;
    --save-redesigned: #62de85;
    --icon-redesigned: #5ed3f3;
    --accent-redesigned: #00c8ff;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: #rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;

    // card
    --card-bg: #d5d5d7;
}
