.app_orange_theme {
    --bg-color: #181f1e;
    --bg-color-behind: #4c697e;
    --bg-color-inverted: #010101;
    --primary-color: #fff;
    --secondary-color: #8d6a00;
    --primary-color-inverted: #89a6c4;
    --secondary-color-inverted: #d9b4a1;

    // redesigned
    --dark-bg-redesigned: #fff3d6;
    --bg-redesigned: #f0c048;
    --light-bg-redesigned: #f2d791;
    --text-redesigned: #1b1311;
    --hint-redesigned: #b8b2a2;
    --cancel-redesigned: #ff5e5e;
    --save-redesigned: #52fa81;
    --icon-redesigned: #4875f0;
    --accent-redesigned: #1d59ff;

    // skeleton
    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;

    // code
    --code-bg: #d9b4a1;

    // card
    --card-bg: #de9570;
}
