.MainLayout {
    display: grid;
    grid-template-areas: "sidebar content rightbar";
    grid-template-columns: min-content 1fr 176px;
    min-height: 100vh;
}

.sidebar {
    justify-self: center;
    grid-area: sidebar;
    padding: 32px;
}

.content {
    justify-self: center;
    grid-area: content;
    padding: 32px;
    width: 100%;
    max-width: 1200px;
}

.rightbar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    grid-area: rightbar;
}

.rightbar,
.sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
}

.toolbar {
    height: 100%;
}
