.Navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
}

.NavbarRedesigned {
    padding: 16px;
}

.links,
.actions {
    margin-left: auto;
}

.mainLink {
    margin-right: 15px;
}

.appName {
    margin-left: 15px;
    width: var(--sidebar-width);
}
