.CommentCard {
    border: 1px solid var(--primary-color);
    padding: 10px;
}

.header {
    display: flex;
    align-items: center;
}

.text {
    margin-top: 10px;
}

.username {
    margin-left: 10px;
}

.loading {
    border: none;
}
