.Page {
    flex-grow: 1;
    flex-shrink: 100;
    overflow-y: auto;
    margin: 0 auto;
    padding: 20px 20px 20px 45px;

    // height: calc(100vh - var(--navbar-height));
    max-width: 1140px;
    box-shadow: 1px 1px 7px 1px #00000079;
    background-color: var(--bg-color);
}

.PageRedesigned {
    overflow-y: auto;
}

.trigger {
    margin: 10px;
    height: 20px;
}
