.trigger {
    margin: 0;
    outline: none;
    border: none;
    padding: 0;
    background: none;
}

.options {
    position: absolute;
    z-index: 10000;
    border-radius: 12px;
    box-shadow: 4px 4px 8px var(--dark-bg-redesigned);
    background: var(--dark-bg-redesigned);
}

.item {
    padding: 10px 20px;
}

.selected {
    background: var(--light-bg-redesigned);
}
