.Overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    z-index: var(--overlay-z-index);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--overlay-color);
    cursor: pointer;
}
